body {
    margin: 40px;
}

div, p, h3 {
    word-wrap: break-word;
    line-height: 1.5;
}

select, input, button {
    outline: 0;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-bottom: 40px;
    width: 100%;
}

.input-wrapper {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 23%;
}

.countries-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    width: 100%
}

.countries-container .country-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f2f2f2;
    width: 23%;
    box-sizing: border-box;
}

.countries-container .country-wrapper h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

.countries-container .country-wrapper {
    padding: 25px;
}

.country-wrapper p {
    margin: 2px;
}

.input-wrapper:last-of-type {
    margin-right: 0;
}

.input-wrapper input, .input-wrapper select {
    margin: 7px 0;
}

.text-center {
    text-align: center;
}

.flag {
    box-shadow: 5px 5px 5px rgba(0,0,0,.05);
    width: 100%;
    max-width: 320px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1024px) {
    .countries-container .country-wrapper, .input-wrapper {
      width: 45%;
    }
  }

  @media only screen and (max-width: 767px) {
    .countries-container .country-wrapper, .input-wrapper {
        width: 100%;
      }
  }